body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    margin: 0;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.circular-image {
    width:0px; /* Adjust the width as needed */
    height: 0px; /* Adjust the height as needed */
    border-radius: 1ch;
    object-fit: cover;
}

