body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.container {
    background-color: #b5f7d2;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.container img {
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
}

.container p {
    margin-top: 10px;
    font-size: 18px;
}

